In [100]:
import pandas as pd
df=pd.read_csv("Admission_Predict.csv")
df.head()

,Serial No.,GRE_Score,TOEFL_Score,University Rating,SOP,LOR,CGPA,Research,Chance
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [101]:
df=df.drop("Serial No.",axis=1)

In [102]:
df=df.drop("University Rating",axis=1)

In [103]:
df=df.drop("Research",axis=1)

In [104]:
df.head()

   GRE_Score  TOEFL_Score  SOP  LOR   CGPA  Chance
0        337          118  4.5   4.5  9.65     0.92
1        324          107  4.0   4.5  8.87     0.76
2        316          104  3.0   3.5  8.00     0.72
3        322          110  3.5   2.5  8.67     0.80
4        314          103  2.0   3.0  8.21     0.65

In [105]:
X=df.iloc[:,[0,1,2,3,4]]
X.head()

   GRE_Score  TOEFL_Score  SOP  LOR   CGPA
0        337          118  4.5   4.5  9.65
1        324          107  4.0   4.5  8.87
2        316          104  3.0   3.5  8.00
3        322          110  3.5   2.5  8.67
4        314          103  2.0   3.0  8.21

In [106]:
y=df.iloc[:,[5]]

In [107]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.20,random_state=42)
print(X_train.shape)
print(X_test.shape)

(320, 5)
(80, 5)

In [108]:
from sklearn.linear_model import LinearRegression
linear=LinearRegression()
linear.fit(X_train,y_train)

LinearRegression()

In [109]:
y_pred=linear.predict(X_test)

In [110]:
from sklearn import metrics
print("R2", metrics.r2_score(y_test,y_pred))

R2 0.8164749290209785

In [111]:
import pickle
pickle.dump(linear, open('model.pkl','wb'))

In [133]:
b=X_test.iloc[6,:]
b=np.array(b)
b=b.reshape(1,-1)

In [134]:
b

array([[297.  ,  96.  ,   2.5 ,   1.5 ,   7.89]])

In [135]:
y_p=linear.predict(b)

In [137]:
y_p[0]

array([0.5233419])

In [141]:
if y_p<0.60:
    return (print ("sorry"))
else:
    return (print("You got chance {}".format(output)))

SyntaxError: 'return' outside function (<ipython-input-141-bbe7e0713e6c>, line 2)